<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OmniMobileApp-Team2" >

<Listeners>
<Listener class-name="com.omnimobile.listeners.listener.class"/>
</Listeners>
  <test  name="OmniApp">
  <groups>
   <run>
      <include name="RegressionTest"/>
   </run>
  </groups>
    <classes>
      <class name="com.omnimobile.Testcases.AccountAccess"/>
    </classes>
  </test> 
</suite> 
